/* CSS File */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
    --accent: green;
    --black: #131313;
    --gray: #f9f9f9;
    --blue-gray: #f7f7fb;
}

/* General */
html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background-color: lightseagreen;
}

section {
    min-width: 100%;
    min-height: 100vh;
    color: var(--black);
}

/* NAVBAR */
nav {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--black);
    background-color: white;
    padding: 30px 50px;
    transition: all 0.2s ease-out;
    background-color: lightseagreen;
    filter: drop-shadow(5px 5px 10px transition);
}

nav.sticky {
    background-color: lightseagreen;
    filter: drop-shadow(5px 5px 10px rgba(194, 184, 255, 0.5));
}

.brand {
    text-decoration: none;
    transition: all ease-in-out 0.3s;
    color: var(--black);
}

.brand h1 {
    font-size: 32px;
    font-weight: bold;
}

.accent {
    color: var(--accent);
}

.brand:hover {
    opacity: 0.8;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    justify-content: relative;
    align-items: center;
    gap: 42px;
}

.menu a {
    display: inline-block;
    position: relative;
    color: var(--black);
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
}

.menu a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 0.1rem;
    bottom: 0;
    left: 0;
    background: var(--accent);
    transform-origin: bottom right;
    transition: transform 0.25s ease out;
}

.menu a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.btn {
    color: white;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

.btn-2 {
    width: 160px;
    height: 50px;
    font-size: 20px;
    background-color: var(--accent);
    border: 1px solid var(--accent);
    border-radius: 12px;
    color: white;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.2));
}

.btn-2:hover {
    background-color: var(--black);
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.2));
}

/* HERO */
.hero-page {
    margin-top: 200px;
    display: flex;
    padding: 0px 50px;
    justify-content: space-between;
    overflow: hidden;
}

.hero-headlines {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 653px;
}

.hero-headlines h1 {
    font-size: 48px;
    font-weight: bold;
}

.hero-headlines p {
    font-size: 20px;
}

.btn-hero {
    width: 276px;
    height: 62px;
    font-size: 24px;
}

.download-buttons {
    display: flex;
    gap: 18px;
    margin-top: 24px;
}

.download-buttons img {
    transition: 0.3s ease-out all;
}

.download-buttons img:hover {
    opacity: 0.8;
    cursor: pointer;
}

.hero-page-img {
    max-width: 50%;
    height: auto;
}

/* ABOUT */

.about {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 110px;
}

.about-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 540px;
}

.about-container h1 {
    font-size: 40px;
    font-weight: bold;
    width: 494px;
    text-align: center;
    margin-top: 67px;

}

.about-subline {
    font-size: 35px;
    width: 822px;
    text-align: center;
    opacity: 0.7;
}

.about-info {
    display: flex;
    position: absolute;
    top: 300px;
    gap: 50px;
    flex-wrap: wrap;
}

.about-info-item {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: var(--black);
    padding: 0px 35px 47px 17px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.2));
    width: 380px;
    height: 414px;
    transform: all ease-out 0.3s;
}

.about-info-item:hover {
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.4));
}

.about-hr {
    width: 100%;
    position: absolute;
    border: 16px solid var(--accent);
    color: var(--accent);
    left: 0px;
}

.about-info-item img {
    width: 178px;
    height: 178;
}

/* COLLECTION */
.collection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.collection h1 {
    font-size: 64px;
    font-weight: bold;
    align-items: center;
    margin-top: 100px;
}

.collection-container {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
}

.collection-car-item {
    width: 430px;
    height: 500px;
    background-color: var(--gray);
    display: flex;
    flex-direction: column;
    border-radius: 32px;
    filter: drop-shadow(5px 5px 10px rgbx(0,0,0,0.15));
    transition: all 0.2s ease-out;
}

.collection-car-item:hover {
    filter: drop-shadow(5px 5px 10px rgbx(0,0,0,0.25));
}

.collection-car-item img {
    border-radius: 32px;
}

.car-info, .car-price, .car-location {
    display: flex;
}

.car-info {
    justify-content: space-between;
    align-items: center;
}

.car-price {
    gap: 5px;
    align-items: center;
}

.car-price h5 {
    font-size: 24px;
}

.car-price h6 {
    font-size: 20px;
    opacity: 0.6;
}

.car-location {
    gap: 8px;
    align-items: center;
    opacity: 0.4;
}

.car-location i {
    font-size: 20px;
}

.car-location h6 {
    font-size: 20px;
}

.car-info-container h2 {
    font-size: 32px;
    margin-bottom: 33px;
    margin-top: 5px;
}

.btn-car {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 32px;
    width: 172px;
    height: 50px;
    font-size: 16px;
}

.btn-car i {
    font-size: 16px;
}

.btn-car:hover {
    gap: 8px;
}

.btn-herocar {
    width: 276px;
    height: 60px;
    border-radius: 0px;
    font-size: 24px;
    background-color: var(--black);
    color: white;
    margin-top: 32px;
    transition: all 0.3s ease-out;
}

.btn-herocar i {
    font-size: 24px;
}

.btn-herocar:hover {
    background-color: white;
    color: var(--black);
}

.car-info-container {
    padding: 20px 30px 30px 30px;
}

/* REVIEW */
.review {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.review h1 {
    font-size: 64px;
    font-weight: bold;
}

.review-container {
    display: flex;
    gap: 24px;
    margin-top: 60px;
    flex-wrap: wrap;
    justify-content: center;
}

.review-item {
    width: 430px;
    height: 235px;
    border-radius: 32px;
    background-color: var(--blue-gray);
    padding: 40px 30px;
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.15));
    transition: all 0.3s ease-out;
}

.review-item:hover {
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.3));
}

.review-item p {
    font-size: 24px;
}

.review-people {
    display: flex;
    gap: 18px;
    align-items: center;
    margin-top: 10px;
}

.review-people h5 {
    font-size: 24px;
}

button {
    background: none;
    cursor: pointer;
    padding: 0;
    color: #131313;

}

.btn-review { 
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 24px;
    text-decoration: none;
    cursor: pointer;
    margin: 120px;
    display: flex;
    position: center;
    width: fit-content;
    margin-top: 25px;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 150px;
}

.callout {
    position: absolute;
    top: -200px;
    margin: 0px 50px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}

.callout h2 {
    font-size: 48px;
    align-items: center;
    margin-top: 100px;
}

.callout-description {
    font-size: 24px;
    width: 886px;
    text-align: center;
}

.callout-buttons {
    display: flex;
    gap: 20px;
    margin-top: 25px;
}

.btn-callout {
    width: 240px;
    height: 6opx;
    display: flex;
    gap: 12ps;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    background-color: white;
    color: black;
    border-radius: 8px;
}

.btn-callout:hover {
    background-color: var(--black);
    color: white;
    gap: 8px;
}

.btn-callout-black {
    background-color: white;
    color: black;
}

.btn-callout-black:hver {
    background-color: white;
    color: var(--black);
}

.footer-bottom {
    width: 100%;
    height: 277px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 30px 100px;
}

.footer p {
    font-size: 14px;
    font-weight: bold;
    line-height: 4;
    text-align: center;
    margin: 0;
    padding: 10px 0;
}

.footer-brand {
    font-size: 40px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: all ease-out 0.3s;
}

.footer-brand:hover {
    opacity: 0.6;
}

.socials {
    display: flex;
    gap: 8px;
}

.socials-item {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid white;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    transition: all ease-out 0.3s;
    cursor: pointer;
}

.socials-item i {
    color: white;
    font-size: 20px;
}

.socials-item:hover {
    background-color: var(--accent);
}

/* COLLECTION */
#collection-page {
    margin-top: 90px;
    margin-bottom: 150px;
}

#collection-car-item-page {
    height: 520px;
}

.collection-category {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 50px;
    margin-top: 100px;
}

.collection-category h1 {
    font-size: 48px;
}

.collection-category h2 {
    font-weight: 500;
}

#collection-page-img {
    margin: 18px;
}

.btn-collection-page {
    width: 100%;
    border-radius: 12px;
    font-size: 20px;
}

.collection-footer {
    margin-top: 300px;
}

/* CONTACT */
.contact {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

.contact h1 {
    font-size: 48px;
    font-weight: bold;
}

.contact p {
    font-size: 24px;
    width: 708px;
    text-align: center;
}

.car-select {
    background-color: lightseagreen;
    width: 60vw;
    height: 150px;
    border-radius: 35px;
    margin-top: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    cursor:pointer;
}

.car-select-item {
    display: flex;
    flex-direction: column;
}

.car-select-item label {
    font-size: 24px;
    width: 14vw;
    height: 40px;
}

.car-select-input {
    width: 150px;
    height: 30px;
    border-radius: 32px;
    padding: 10px;
    font-size: 16px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
}

.contact-form input {
    height: 60px;
    border: none;
    border-bottom: 1px solid var(--black);
    font-size: 32px;
    color: var(--black);
    font-weight: 600;
    background-color: transparent;
    outline: none;
}

.contact-form button {
    width: 260px;
    height: 50px;
    border-radius: 0px;
}

.contact-footer {
    margin-top: 300px;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 20px; 
    padding: 20px;
    background-color: lightseagreen;
  }
  
  .footer-icon {
    width: 32px;
    height: 32px; 
    cursor: pointer; 
    transition: transform 0.2s, box-shadow 0.2s; 
  }
  